VITE_SUPABASE_URL=https://grfjnmpkoezeyhjhrzkw.supabase.co
NEXT_PUBLIC_SUPABASE_URL=https://grfjnmpkoezeyhjhrzkw.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_FSpWxlR-VroEmMKOV2Tl9w_p2tpOcJJ
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_FSpWxlR-VroEmMKOV2Tl9w_p2tpOcJJ
VITE_COMPANY_NAME=CORPLEX SOLUTIONS S.A.S.
